meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
link(rel="icon" type="image/x-icon" href="icons/favicon.ico")

- var title = "True North Website"
- var description = "True North is a website for [enter description]..."
- var url = "https://z-truenorth.herokuapp.com/"
- var project = "True North"
- var type = "website"
- var keywords = "True, North, Keywords, Here"

meta(name="author" content= project)
meta(name="copyright" content= project)
meta(name="application-name" content= project)
title= title

// Social Media Optimization

// for Google
meta(name="description" content= description)
meta(name="keywords" content= keywords)

// for Facebook
meta(property="og:title" content= title)
meta(property="og:type" content= type)
meta(property="og:image" content="https://z-truenorth.herokuapp.com/images/facebook.jpg")
meta(property="og:url" content= url)
meta(property="og:description" content= description)

// for Twitter
meta(name="twitter:card" content="summary")
meta(name="twitter:title" content= title)
meta(name="twitter:description" content= description)
meta(name="twitter:image" content="https://z-truenorth.herokuapp.com/images/twitter.jpg")
