nav
  button.hamburger.hamburger--spring(type="button")
    span.hamburger-box
      span.hamburger-inner
  ul.nav-list
    li #[a(href="#") HOME]
    li.dropdown #[a(href="#") BLOG]
      ul.dropdown-list
        li #[a(href="#") Item]
      li.dropdown #[a(href="#") PORTFOLIO]
        ul.dropdown-list
          li #[a(href="#") Item]
      li.dropdown #[a(href="#") TEMPLATES]
        ul.dropdown-list
          li #[a(href="#") Item]
          li #[a(href="#") Item]
