nav
  button.hamburger.hamburger--spring(type="button")
    span.hamburger-box
      span.hamburger-inner
  ul.nav-list
    li #[a(href="#home") HOME]
    li.dropdown #[a(href="#blog") BLOG]
      ul.dropdown-list
        li #[a(href="#blog-item") Item]
      li.dropdown #[a(href="#portfolio") PORTFOLIO]
        ul.dropdown-list
          li #[a(href="#portfolio-item") Item]
      li.dropdown #[a(href="#templates") TEMPLATES]
        ul.dropdown-list
          li #[a(href="#templates-item") Item]
          li #[a(href="#templates-item-two") Item]
