extends layout

block content
  .header
  
  .content
    
    .intro
      h1 WELCOME
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eu pulvinar neque. Aliquam blandit eros at dui vehicula accumsan a at mauris. Nam vel ipsum accumsan, tempus tellus sit amet, dictum ipsum. Vivamus fermentum, urna quis rhoncus semper, nisl libero ornare leo, ac ornare libero nisl eu neque. Morbi fermentum pretium metus, aliquam fermentum odio aliquet id. Fusce eget congue.
    
    .portfolio
      h2 PORTFOLIO
      a(href="#portfolio")
        .block.objects
          label OBJECTS
      a(href="#spring")
        .block.spring
          label SPRING
      a(href="#nature")
        .block.nature
          label NATURE
      a(href="#icons")
        .block.icons
          label ICONS
      a(href="#architecture")
        .block.architecture
          label ARCHITECTURE
      a(href="#iphone")
        .block.iphone
          label IPHONE MOCKUP
          
    .about
      h3 ABOUT ME
      .display-picture
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eu pulvinar neque. Aliquam blandit eros at dui vehicula accumsan a at mauris. Nam vel ipsum accumsan, tempus tellus sit amet, dictum ipsum. Vivamus fermentum, urna quis rhoncus semper, nisl libero ornare leo, ac ornare libero nisl eu neque. Morbi fermentum pretium metus, aliquam fermentum odio aliquet id. Fusce eget congue.
      .social-media.flex-center
        a(href="#facebook") #[img(src="/icons/facebook.svg" alt="Facebook")]
        a(href="#twitter") #[img(src="/icons/twitter.svg" alt="Twitter")]
        a(href="#dribbble") #[img(src="/icons/dribbble.svg" alt="Dribbble")]
        a(href="#vimeo") #[img(src="/icons/vimeo.svg" alt="Vimeo")]
    
  footer
    ul.flex-center
      li #[a(href="#home") HOME]
      li #[a(href="#blog") BLOG]
      li #[a(href="#portfolio") PORTFOLIO]
      li #[a(href="#about") ABOUT]
    img(src="images/truenorth-gray.svg" alt="True North")
