doctype html
html(lang="en")
  head
    include includes/meta
    link(rel="stylesheet", href="/css/main.css")
  body
    include includes/navigation
    block content
    script(src="/js/app.min.js")
