//- Variables must follow BEM Naming Convention @ https://en.bem.info/methodology/naming-convention/

// Colours
$base_color--white: #ffffff;
$base_color--black: #353535;
$body_background: #f1f1f1;
$content_background--dark: #e0e0e0;
$icon_color: #353535;

// Font weights
$font_weight--light: 300;
$font_weight--regular: 400;

// Fonts
$base_font--family: 'Open Sans', sans-serif;
$base_font--weight: $font_weight--regular;
$base_font--size: 12px;
$base_font--lineheight: 1.4;

body{
  background-color: $body_background;
}

// Useful classes
.content{
  max-width:950px;
  margin:0 auto;
  position:relative;
}

.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

h1, h2, h3, p{
  color: $base_color--black;
  text-align:center;
  font-family: $base_font--family;
  font-weight: 300;
}
h1,h2,h3{
  letter-spacing: 5px;
}
h1{
  font-size:22px;
  padding-top:70px;
  padding-bottom:40px;
}
h2{
  font-size:22px;
  padding-top:40px;
  padding-bottom:40px;
}
h3{
  font-size:16px;
  padding-bottom:5px;
  letter-spacing: 2.75px;
}
p{
  font-size:13px;
  line-height:1.6;
}
