//- Variables must follow BEM Naming Convention @ https://en.bem.info/methodology/naming-convention/

// Colours
$base_color--white: #ffffff;
$base_color--black: #353535;
$body_background: #f1f1f1;
$content_background--dark: #e0e0e0;
$icon_color: #353535;

// Font weights
$font_weight--light: 300;
$font_weight--regular: 400;

// Fonts
$base_font--family: 'Open Sans', sans-serif;
$base_font--weight: $font_weight--regular;
$base_font--size: 12px;
$base_font--lineheight: 1.4;

// Font sizes
$font_size--small: 13px;
$font-size--medium: 16px;
$font-size--large: 22px;

// Mixins

// Saves 2 lines every time a css before/after is used
@mixin pseudo($display: block, $pos: absolute, $content: ''){
    content: $content;
    display: $display;
    position: $pos;
}
// Media Queries
@mixin mq($width, $type: min) {
    @if $type == max {
        $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
        @content;
    }
}
// Center Elements
@mixin center($top:50%, $left:50%, $transform: translate(-50%, -50%)){
  top:$top;
  left:$left;
  transform: $transform;
}
// Background Images
@mixin background-image($image: url(images/specify.jpg), $size: cover, $repeat: no-repeat, $position: center center){
  background-image: $image;
  background-size: $size;
  background-repeat: $repeat;
  background-position: $position;
}
// Flex Center
@mixin flex-center($display: flex, $align: center, $justify: center){
  display: $display;
  align-items: $align;
  justify-content: $justify;
}

body{
  background-color: $body_background;
}

// Useful classes
.content{
  max-width:950px;
  margin:0 auto;
  position:relative;
}

.flex-center{
  @include flex-center;
}

h1, h2, h3, p{
  color: $base_color--black;
  text-align:center;
  font-family: $base_font--family;
  font-weight: 300;
}
h1,h2,h3{
  letter-spacing: 5px;
}
h1{
  font-size:$font-size--large;
  padding-top:70px;
  padding-bottom:40px;
}
h2{
  font-size:$font-size--large;
  padding-top:40px;
  padding-bottom:40px;
}
h3{
  font-size:$font-size--medium;
  padding-bottom:5px;
  letter-spacing: 2.75px;
}
p{
  font-size:$font-size--small;
  line-height:1.6;
}
