
nav{
  width:100%;
  display:block;
  position: absolute;
  background-color:transparent;
  z-index:10;
  .hamburger{
    float:right;
    cursor: pointer;
    .hamburger-inner, .hamburger-box{
      pointer-events: none;
    }
  }
  ul.nav-list{
    width:50%;
    max-width:0;
    transition: max-width .5s ease-in-out;
    overflow:hidden;
    &.is-active{
      max-width:50%;
    }
  }
  ul{
    list-style: none;
    padding-inline-start: 0;
    margin:0;
    li{
      a{
        width:100%;
        display:block;
        position:relative;
        padding:10px;
        font-size:$font-size--small;
        background-color:$body_background;
        color: $base_color--black;
        cursor: pointer;
        &:hover{
          background-color:darken($body_background, 10%);
          color: $base_color--black;
          text-decoration: none;
        }
      }
    }
  }
  .dropdown{
    min-width:120px;
    &> a::after{
      @include pseudo(inline-block, relative, url('/icons/down-chevron.svg'));
      width:8px;
      height:8px;
      margin: 0 5px;
    }
    ul{
      max-height:0;
      transition: max-height .5s ease-in-out;
      overflow:hidden;
    }
    &.open{
      &> a::after{
        content: url('/icons/up-chevron.svg');
      }
      ul{
        max-height:88px; //- 44px * max number of list items (2)
      }
    }
  }
  .dropdown-list a{
    background-color: $base_color--white;
  }
}

@include mq(576px){
  nav{
    width:100%;
    position:relative;
    padding: 5px 0;
    max-height:none;
    background-color:$base_color--white;
    .hamburger{
      display:none;
    }
    ul.nav-list{
      width: auto;
      max-width: none;
      overflow: visible;
      transition: none;
      @include flex-center;
      &.is-active{
        max-width: none;
      }
      li{
        width:auto;
        display:inline-block;
        margin:0;
        a{
          width:auto;
          background-color:transparent;
          &:hover{
            background-color: transparent;
          }
        }
        &.dropdown{
          min-width: unset;
          ul.dropdown-list{
            width: auto;
            display:none;
            position:absolute;
            padding: 5px 0;
            background-color: white;
            border: 1px solid $body_background;
            border-radius: 3px;
            top: 35px;
            max-height: none;
            overflow: visible;
            transition: none;
            li{
              width:90px;
              display:block;
              clear:both;
              a{
                padding: 5px 10px;
                background-color: $base_color--white;
                &:hover{
                  background-color: $body_background;
                }
              }
            }
          }
          &.open ul{
            display:block;
          }
          &:hover ul{
            display:block;
          }
        }
      }
    }
  }
}
